---
layout: landing
---

<section class="section-calculadoras">
  <div class="section-content flex">
    <div class="col-6">
      <h1 class="">
        A Calculadora
      </h1>
      <p>
        {{site.description}}
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <figure>
	       <img src="img/acalculadora-home-image.svg" alt="Ilutração de uma mesa de trablaho com um computador o logo da Calculadora, livros, maçã, café, um avião de papel voando">
       </figure>
    </div>
  </div>
</section>
<section class="section-content section-calculators">
  <h2>
    As Calculadoras
  </h2>
  <div class="card">
    <h3>Matemática</h3>
    {% for page in site.pages %}
    {% if page.categories contains 'mathematics' %}
    <div class="item">
      <h3><a href="{{ page.url }}">
        {{ page.title }}
      </a></h3>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="card">
    <h3>Saúde</h3>
    {% for page in site.pages %}
    {% if page.categories contains 'health' %}
    <div class="item">
      <h3><a href="{{ page.url }}">
        {{ page.title }}
      </a></h3>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
